<div class="mb-3 card card-body">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div><%= tweet.body %></div>
      <div class="mt-2">
        <%= image_tag tweet.twitter_account.image, class: "rounded-circle me-2" %>
        <%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank %>

        <% if tweet.published? %>
          <%= link_to "View Tweet", "https://x.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :_blank, class: "ms-2" %>
        <% else %>
          <div class="text-muted mt-1">
            Scheduled for <%= l tweet.publish_at, format: :long %><br>
            <%= link_to "Edit Tweet", edit_tweet_path(tweet) %>
          </div>
        <% end %>
      </div>
    </div>

    <% if tweet.published? %>
      <%= link_to "Delete", destroy_on_twitter_tweet_path(tweet), 
          data: { turbo_method: :delete, turbo_confirm: "Delete tweet from Twitter?" }, 
          class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>
